@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
    
@theme {
  --font-inter: "Inter", "sans-serif";
  --font-syne: "Syne", "sans-serif";
  
  --color-green-1: #082C2A;
  --color-green-2: #194B49;
  --color-green-3: #215A58;
  --color-green-4: #4F6563;
  --color-green-5: #879087;
  
  --color-yellow: #FFBD59;
  --color-default: #031817;
  
  --animate-slide-down: slideDown 0.3s ease-out forwards;
  
  @keyframes slideDown {
    0% {
      transform: scaleY(0);
      opacity: 0;
      transform-origin: top;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
      transform-origin: top;
    }
  }
}

.white_inset_shadow{
  box-shadow: -5px 5px 11px -5px rgba(33,90,88,0.65) inset,
              5px 5px 11px -5px rgba(33,90,88,0.65) inset,
              5px -5px 11px -5px rgba(33,90,88,0.65) inset,
              -5px -5px 11px -5px rgba(33,90,88,0.65) inset;
}

.footer_bg{
background: #082C2A;
background: linear-gradient(0deg, rgba(8, 44, 42, 1) 0%, rgba(8, 44, 42, 1) 28%, rgba(3, 24, 23, 1) 100%);
}

.half-circle-top {
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}
